# Игнорируем визуальное окр 

venv/ 

# Игнорируем кеш Python

__pycache__/
*.pyc

# игнорируем базу лданных
db.sqlite3
*.sqlite3

# игнорируем файлы log 
*.log

# игнорируем статистику и медиа 

/static/ 
/media/
