{% extends 'movies/base.html' %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>Добро пожаловать на easybase! Мы — команда кинолюбителей, создающая пространство для любителей кино.</p>
    <div class="container_about">
        <h4>О проекте easybase</h4>
        <p>Добро пожаловать на сайт easybase для демонстранции возможностей на django</p>

        <h4>Наша коллекция</h4>
        <p> Наша колекция насчитывает {{ movie_count }} и {{ director_count }} талантливых режессеров!</p>
    </div>
{% endblock content %}